<style>
    {#asset xls-style.css @encoding=utf8}
</style>

<table>
    <tr>
        <td colspan="10%" class='bold center-align'> DELIVERABLES REPORT </td>
    </tr>
    <tr>
        <td colspan="10%" class='bold'> Name: {{upperCase deliverables.name}} </td>
    </tr>
    <tr>
        <td colspan="10%" class='bold'> Duration: {{getDate deliverables.reportDetails.startDate}} - {{getDate deliverables.reportDetails.endDate}} </td>
    </tr>
    <tr><td  colspan='6' class="empty"> </td></tr>
    {{#if (checkIfWithResult deliverables.data)}}
        {{#each (groupByDepartment deliverables.data)}}
            <tr class='head-section'>
                <td colspan="10%" class='font-white'>DEPARTMENT: {{upperCase title}}</td>
            </tr>
            {{#each (groupByUser items)}}
                {{#each (groupByTaskDel userDeliverables)}}
                    <tr class='heading'>
                       <td colspan='10%'>Task - {{title}}</td>
                   </tr>
                   {{#each (groupByType items)}}
                        <tr class='main'>
                            <td>Deliverable</td>
                            {{#if (checkKeys keys)}}
                                {{#each keys}}
                                    <td>{{capitalize this}}</td>
                                {{/each}}
                            {{else}}
                            <td>Status</td>
                            <td>Duedate</td>
                            {{/if}}
                            <td>Date Submitted</td>
                        </tr>
                        {{#each items}}--}}
                            {{#if (checkIfSubmitted submitted)}}
                                {{#each submitted}}
                                    <tr>
                                        <td>{{del_type}}</td>
                                        {{#each (getColumns del_details)}}
                                           <td>
                                                {{# if (checkIfB64 this)}}
                                                    <img src={{this}} class='img'/>
                                                {{else if (checkIfNumber this)}}
                                                    {{numberWithCommas this}}
                                                {{else}}
                                                    {{this}}
                                                {{/if}}
                                           </td>
                                        {{/each}}
                                        <td>{{formatDate date_submitted}}</td>
                                    </tr>
                                {{/each}}
                            {{else}}
                                <tr>
                                    <td>{{name}}</td>
                                    <td>{{status}}</td>
                                    <td colspan={{getSpan}}>{{formatDate duedate}}</td>
                                    <td>--/--/--</td>
                                </tr>
                            {{/if}}
                        {{/each}}
                   {{/each}}
                {{/each}}
            {{/each}}
        {{/each}}
    {{else}}
        <tr>
            <td colSpan='10%' class='bold'>NO DELIVERABLES SUBMITTED FOR THIS DURATION.</td>
        </tr>
    {{/if}}
</table>
